@import "public/stylesheets/_variables";

div#Contact {
  background-color: map-get($theme-colors, "header-background");
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2vh 2vw;
  a, h3 {
    display: block;
    margin: 15vh 5vw;
    width: 20vw;
  }
  div.Contact__personal {
    display: flex;
  }
  div.Contact__link a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d191a;
    color: map-get($theme-colors, "accent");
    border: .5vh solid white;
    border-radius: 5vh;
    padding-right: 2vw;
    flex-wrap: wrap;
    padding: 1em;
    height: fit-content;
    width: fit-content;
    font-size: 80%;
    @media only screen and (min-width: 800px) {
      font-size: 100%;
    }
  }
  .Contact__link__email a, .Contact__link__resume a {
    padding: 6vh 1vw;
    p {
      margin-bottom: 4vh;
    }
  }
}

div.footer-area {
  border-bottom: 20vh solid map-get($theme-colors, "header-background");
  border-left: 100vw solid transparent;
}