@import "public/stylesheets/_variables";

div#Contact {
  background-color: map-get($theme-colors, "header-background");
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2vh 2vw;
  a, h3 {
    display: block;
    margin: 15vh 5vw;
    width: 20vw;
  }
}

div.footer-area {
  border-bottom: 20vh solid map-get($theme-colors, "header-background");
  border-left: 100vw solid transparent;
}