@import 'public/stylesheets/_variables';

div.Projects {
  align-items: stretch;
  color: map-get($theme-colors, "content");
  column-gap: 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vw, 500px));
  justify-content: center;
  justify-items: center;
  max-width: 100vw;
  padding: 5vh 10vw;
  row-gap: 5vh;

  @media only screen and (min-width: 500px) {
    div.project {
      padding: 3vh;
    }
  }
  @media only screen and (min-width: 850px) {
    div.project {
      border-radius: 25%;
    }
  }
  div.project {
    background-color: map-get($theme-colors, "section-background");
    border: white solid 1vw;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1vh 4vw 5vh 4vw;
    border-radius: 8vh;
    max-width: 100%;

    &--last {
      grid-column: 1/-1;
    }

    img {
      max-width: 30vw;
      max-height: 30vw;
      margin: 2vw;
    }

    h3 {
      margin: 2vh;
      align-self: center;
    }

    a {
      color: map-get($theme-colors, "accent");
    }
    
    div.project__project-general__links {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    div.project__links__github, div.project__links__open-app {
      background-color: #1d191a;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 1vh;
      margin-bottom: 1vh;
    }

    div.project__project-detail {
      margin-top: 2vh;
    }
  }
}