@import 'public/stylesheets/_variables';

div.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: map-get($theme-colors, "content");
  max-width: 100vw;

  @media only screen and (min-width: 500px) {
    flex-direction: row;
    div.project {
      width: 50vw;
      padding: 3vh;
    }
  }
  @media only screen and (min-width: 850px) {
    div.project {
      border-radius: 25%;
    }
  }
  div.project {
    background-color: map-get($theme-colors, "section-background");
    border: white solid 1vw;
    margin: 2vw;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1vh 4vw 5vh 4vw;
    border-radius: 8vh;
    img {
      max-width: 30vw;
      max-height: 30vw;
      margin: 2vw;
    }

    h3 {
      margin: 2vh;
      align-self: center;
    }

    a {
      color: map-get($theme-colors, "accent");
    }
    
    div.project__project-general__links {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    div.project__links__github, div.project__links__open-app {
      background-color: #1d191a;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 1vh;
      margin-bottom: 1vh;
    }

    div.project__project-detail {
      margin-top: 2vh;
    }
  }
}