@import 'public/stylesheets/_variables';

div.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: map-get($theme-colors, "content");
  max-width: 100vw;

  @media only screen and (min-width: 500px) {
    flex-direction: row;
    div.project {
      width: 50vw;
      padding: 3vh;
    }
  }
  @media only screen and (min-width: 850px) {
    div.project {
      border-radius: 25%;
    }
  }
  div.project {
    background-color: map-get($theme-colors, "section-background");
    border: white solid 1vw;
    margin: 2vw;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5vh 4vw;
    border-radius: 20vw;
  }
}