div.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-width: 500px) {
    flex-direction: row;
  }

  div.project__project-general {
    display: block;
  }
}