.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  .App-header__header {
    margin: 0 0 0 15vw;
    text-transform: uppercase;
  }
}

.App-link {
  color: #09d3ac;
}
