.App-header {
  background-color: #281734;
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  .App-header__header {
    font-size: 150%;
    margin: 0 0 0 15vw;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;  
  }
}

div.arrow-container {
  background-color: #281734;
  border-top: 10vh solid #281734;
  border-right: 100vw solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  div.arrow-container__arrow {
    left: 50vw;
    top: 105vh;
    position: absolute;
    border-top: 20px solid rgba(255,255,255,0.8);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px;
  }
}

.App-link {
  color: #09d3ac;
}
div.App {
  
  div.section {
    min-height: 80vh;
  }
}
