@import "public/stylesheets/_variables";

.App-header {
  background-color: map-get($theme-colors, "header-background");
  
  min-height: 80vh;
  font-size: calc(20px + 2vmin);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  .App-header__header {
    font-size: 150%;
    margin: 0 0 0 15vw;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;
    color: map-get($theme-colors, "accent");
  }
}

div.arrow-container {
  border-top: 20vh solid map-get($theme-colors, "header-background");
  border-right: 100vw solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -.1vh;
  div.arrow-container__arrow {
    left: 50vw;
    top: 85vh;
    position: absolute;
    border-top: 20px solid rgba(255,255,255,0.8);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    animation: bounce 2s ease 6s infinite;
  }
}

div.App {
  
  div.section {
    min-height: 50vh;
  }
  h3 {
    color: map-get($theme-colors, "accent");
    font-family: 'Concert One', cursive; 
    font-size: 150%;
    margin: 2vh 0;
    text-transform: uppercase;
  }

  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: map-get($theme-colors, "main-background");
    a {
      color: map-get($theme-colors, "accent");
      margin-top: 5vh;
      background-color: map-get($theme-colors, "header-background");
      border-radius: 100%;
      padding: 2vh;
      border: .4vh solid white;
    }
    @media only screen and (min-width: 500px) {
      flex-direction: column;
      margin-left: 80vw;
      a {
        border: 1vh solid white;
        padding-right: 10vw;
        border-radius: 100% 0 0 100%;
        border-right: none;
      }
    }
    @media only screen and (min-width: 800px) {
      margin-left: 89vw;
    }
  }
}

@keyframes bounce {
  0% {top: 85vh;}
  45% {top: 85vh;}
  50% {top: 80vh;}
  70% {top: 87vh;}
  80% {top: 80vh;}
  90% {top: 87vh;}
  100% {top: 85vh;}
}