@import "public/stylesheets/_variables";

html {
  box-sizing: border-box;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: map-get($theme-colors, "header-background");
  body {
    background-color: map-get($theme-colors, "global-background");
    border: 0;
    color: map-get($theme-colors, "content")
  }
}

